/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//** css reset end **//

$color-primary: #c1e1c1;
$color-secondary: rgb(240, 240, 240);
$color-tertiary: #e0d3b6;
$addTaskBtn-height: 100px;
$addTaskBtn-width: 100px;
$margin-5px: 5px;

$font-main: 'Montserrat', sans-serif, arial, helvetica;

body {
  font-family: $font-main;
}

.main-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#header {
  height: 115px;
  width: 100%;
  background-color: $color-primary;
}

#sidebar {
  display: flex;
  height: 100vh;
  width: 50%;
  background-color: $color-secondary;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  cursor: pointer;
  font-family: inherit;
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

div > span > button {
  vertical-align: middle;
}

#content {
  margin-left: 20px;
}

h2 {
  font-size: 50px;
  margin: 20px 0px;
}

.taskFilterBtns {
  height: 350px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.sidebarBtn {
  height: 50px;
  background: #fff;
  margin: 2px;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  text-align: left;
}

.sidebarBtn:first-child {
  margin-top: 20px;
}

.sidebarBtn:hover {
  background: rgb(220, 220, 220);
  transition: 0.3s;
}

.sidebarBtn-active {
  background: rgb(220, 220, 220);
  color: #fff;
}

.menuBtn {
  height: 75px;
  width: 75px;
  margin: 20px;
  border: none;
  background-color: transparent;
}

.projectContainer {
  width: 200px;
}

.icon {
  font-size: 20px;
}

#addProjectBtn {
  border: none;
  background: transparent;
}

#projectHeader {
  display: flex;
  justify-content: space-between;
}

.fa-square-plus {
  font-size: 20px;
}

.addTask__btn {
  border: none;
  background-color: transparent;
}

.btn-secondary {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.addTask__form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.addTask__btn-submit {
  background-color: $color-primary;
  margin-left: auto;
  margin: 5px 0;
}

.addTask__btn-cancel {
  background-color: $color-secondary;
  margin-left: auto;
}

.addTask__title {
  flex-basis: 100%;
  font-family: inherit;
  margin: $margin-5px;
}

.addTask__desc {
  height: 50px;
  flex-basis: 100%;
  font-family: inherit;
  margin: $margin-5px;
}

// Priority dropdown settings //
// Dropdown button for priority
.addTask__priority-btn {
  border: none;
}

.addTask__priority-dropdown {
  position: relative;
  display: inline-block;
}

.addTask__priority-list {
  display: none;
  position: absolute;
  z-index: 1;
}

.addTask__priority-list a {
  text-decoration: none;
  display: block;
  margin: 5px;
  padding: 5px 10px;
  font-size: inherit;
  background-color: #fff;
}

.addTask__priority-low {
  border-left: solid 2px rgb(0, 150, 255);
}

.addTask__priority-med {
  border-left: solid 2px rgb(255, 191, 0);
}

.addTask__priority-high {
  border-left: solid 2px rgb(210, 4, 45);
}

// Show the dropdown menu on hover
.addTask__priority-dropdown:hover .addTask__priority-list {
  display: block;
}

.addTask__priority-list a:hover {
  background-color: $color-secondary;
}

.addTask__dueDate {
  margin: 5px;
  padding: 5px 10px;
}

// Priority dropdown settings end //

.hidden {
  display: none;
}

@media only screen and (min-width: 600px) {
  .floating-div {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transform: translateX(0px);
  }
  #sidebar {
    display: flex;
    height: 100vh;
    width: 20%;
    background-color: $color-secondary;
    flex-wrap: wrap;
  }
}
